* {
	box-sizing: border-box;
    font-family: 'Inter';
}

p, h1, h2, h3, h4, h5, ul, li, img, body, a, button, ul, li {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
}

button {
    border-style: none;
    background: none;
    cursor: pointer;
}

body {
    background-color: #EEF0F5;
    height: 100vh;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

header {
    min-width: 260px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 0px;
    flex-grow: 0;
    background: var(--light-background-paper, #FFF);
}

.header-nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    column-gap: 12px;
    margin-left: 25px;
}

h1 {
    color: #3D4150;
    font-size: 20px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

li {
    list-style-type: none;
}

.menu {
    width: 100%;
}


.menu__item {
    display: flex;
    flex-direction: row;
    padding: 8px 14px 8px 0px;
    column-gap: 10px;
    max-width: 180px;
    margin-left: 20px;
    padding-left: 5px;
}

.menu__item:hover, .header-auth__logout:hover {
    background-color: #EEF0F5;
    border-radius: 10px;
}

.menu__decoration {
    display: flex;
    color: var(--old-gray, #393939);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.decoration-no-active {
    opacity: 0.7;
}

.header-auth {
    max-width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.header-auth-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.header-auth-user__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    background: linear-gradient(44deg, rgba(253, 92, 131, 0.16) 0%, rgba(246, 162, 95, 0.16) 100%);
    font-size: 14px;
    font-weight: 600;
    line-height: 22.3px;
    letter-spacing: -0.7px;
    color: #FD5C83;
}

.header-auth__logout img {
    width: 24px;
    margin: 2px 8px;
}

.burger {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-box {
    max-width: 92%;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 22px 0px;
}

.main-nav__control, .main-nav__delete {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
}

.main-nav__control:hover, .main-nav__delete:hover {
    background-color: #dbdee0;
    border-radius: 10px;
    padding: 2px 8px;
}

h2 {
    color: #3A3541;
    font-size: 22px;
    font-weight: 600;
    line-height: 133.4%;
}

.main-nav__control .text-style-5 {
    border-radius: 20px;
    background: #FFF;
    padding: 2px 8px;
}

.workplace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
}

.workplace-lft {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.card {
    width: 100%;
    border-radius: 12px;
    border: 3px solid #FFF;
    background: var(--light-background-paper, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 16px; 
}

.card-analysis {
    width: 100%;
    border-radius: 12px;
    border: 3px solid #FFF;
    background: var(--light-background-paper, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.01);
    display: none;
    flex-direction: row;
    justify-content: center;
    column-gap: 4px;
    padding: 5px 0px;
}

.card__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.card__item_background {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}

.background-red {
    color: #FF4C51;
    gap: 4px;
    background: rgba(255, 76, 81, 0.10);
}

.background-blue {
    color: #73B1FF;
    background: rgba(115, 177, 255, 0.10);
}

.background-yellow {
    color: #FFB400;
    background: rgba(255, 180, 0, 0.10);
}

.background-green {
    gap: 4px;
    background: #00B295;
    color: #FFF;
}

.box-shadow:hover, .card-button__button:hover {
    box-shadow: 0 0 5px rgba(58, 53, 65, 0.68);
}

.text-style-1 {
    color: var(--light-text-secondary, rgba(58, 53, 65, 0.68));
    font-size: 12px;
    font-weight: 400;
    line-height: 19.9px;
    letter-spacing: 0.4px;
}

.text-style-2 {
    color: #3A3541;
    font-size: 14px;
    font-weight: 400;
}

.text-style-3 {
    color: #3A3541;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
}

.text-style-4 {
    color: #3A3541;
    font-size: 16px;
    font-weight: 600;
}

.text-style-5 {
    color: #3A3541;
    font-size: 14px;
    font-weight: 600;
}

.card__item_text-style {
    color: #FF4C51;
    font-style: italic;
    font-weight: 600;
}

.card__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

.card-button__button {
    display: flex;
    width: 97px;
    height: 32px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: var(--old-gradient, linear-gradient(44deg, #FD5C83 0%, #F6A25F 100%));
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.46px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}

.card__border {
    height: 1px;
    background: #ECECEC;
    flex: 1 0 auto;
}

.line__item {
    height: 1px;
    background: #CCC;
    flex: 1 0 auto;
}


.line__text {
    color: #3A3541;
    font-size: 11px;
    font-weight: 600;
    line-height: 135%;
    opacity: 0.5;
}

.card-viewed {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-viewed__done {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.workplace-rgt {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    min-width: 40%;
}

.block {
    border-radius: 10px;
    background: #F7F8FA;
    padding: 12px;
}

.block-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
}

.block__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:1200px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 24px;
        background-color: white;
        height: 80px;
    }

    .menu {
        display: none;
    }

    .header-auth {
        display: none;
    }

    .burger {
        display: flex;
        align-items: center;
    }

    .logo, .burger {
        margin: 0px 10px
    }

    .header-nav {
        align-items: center;
    }

    .workplace-lft {
        padding-bottom: 10px;
    }
}

@media screen and (max-width:992px) {
    .workplace {
        flex-direction: column;

    }

    .main-box {
        width: 100%;
    }

    .card-analysis {
        display: flex;
    }

    .workplace-rgt {
        display: none;
    }
}

@media screen and (max-width:400px) {
    .main-nav__control p {
        display: none;
    }
}